<?xml version="1.0" encoding="utf-8"?>
<ConfigItem>
  <PDMFilePath>E:\WorkSpace\3.系统建模</PDMFilePath>
  <TargetDirectoryPath>E:\WorkSpace\3.系统建模</TargetDirectoryPath>
  <TargetNamespace></TargetNamespace>
  <TargetDatabaseType>0</TargetDatabaseType>
  <IsSupportWCF>false</IsSupportWCF>
</ConfigItem>