<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net452" />
  <package id="ServiceStack.Common" version="4.0.54" targetFramework="net452" />
  <package id="ServiceStack.Interfaces" version="4.0.54" targetFramework="net452" />
  <package id="ServiceStack.Redis" version="4.0.54" targetFramework="net452" />
  <package id="ServiceStack.Text" version="4.0.54" targetFramework="net452" />
  <package id="VL.Common.Configurator" version="1.1.1608081452.1" targetFramework="net452" />
</packages>